# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore VS Code settings
.vscode/

# ignore all .pyc files everywhere in the repository, as well as all
*.pyc
__pycache__/
